# Python-specific ignores
__pycache__/               
*.pyc                      
*.pyo                      
*.pyd                      
*.pth                      

# Environment and dependency files
env/                       
venv/                      
thesisProjectTestEnv/
*.env                      
*.venv                     

# Notebook-related ignores
.ipynb_checkpoints/        

# Log files
*.log                      
logs/                      

# Dataset files
data/                      
*.csv                      
*.h5                       
*.tfrecord                 

# Model files and checkpoints
*.pth                      
*.pt                      
*.ckpt                     
models/                    

# Output files
outputs/                   
*.out                      
*.bak                      

# OS-specific ignores
.DS_Store                  
Thumbs.db                  

# Dataset ignores
Data/

# Semantic Segmentation module-specific ignores
MaskRCNN/fba_models 
MaskRCNN/prediction_visualizations
MaskRCNN/wandb

TransferLearningUnet/V_Unet/

# Image generation module-specific ignores
ImageGenerationwithStableDiff/diffusers
ImageGenerationwithStableDiff/generated_images
ImageGenerationwithStableDiff/output


# IDE and editor-specific ignores
.vscode/                   
*.sublime-workspace        
*.sublime-project          
*.swp                      

# Temporary files and folders
*.tmp                      
temp/                      
tmp/                       
