ipykernel

# Core deep learning libraries
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tensorflow==2.16.1

# Image and vision libraries
opencv-python-headless==4.11.0.86
segmentation-models-pytorch==0.4.0
imgaug==0.4.0
kornia==0.8.0
timm==1.0.14
einops==0.8.0
FrEIA==0.2

# Data handling
pandas==2.2.3
numpy<2.0
scikit-learn==1.6.1
datasets==3.3.1  # From Hugging Face

# Visualization and tracking
matplotlib==3.5.3
wandb==0.19.5

# Utilities
python-dotenv==1.0.1

# OpenCLIP (image-text models)
open-clip-torch==2.30.0
